*{
    margin: 0;
    padding: 0;
   
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
body a{
    text-decoration: none;
}
.container {
   width: 100%;
   /* height: 100%; */
}
#main{
  
}

#header{
    display: flex;
   justify-content: space-between;
   padding: 0 2em;
   align-items: center;
   background-color: #00377a;
   height: 7em;
}   
#header .logo   {
    display: flex;
    align-items: center;
    padding-left: 5em;
    color: #fff;
}  
#header .header-utc h2{
    font-size: 1.6em;
}
#header .titleh1{
    margin-right: 4rem;
    font-size: 2.6rem;
    color: #fff;
}
#header .header-img{
    width: 5%;
    margin-right: 4em;
}

#nav{
    height: 2.8em;
    background-color: #333;
    text-align: center;

}
#nav>li{
    display: inline-block;
    
}
#nav li {
    list-style-type: none;
    position: relative;
}
#nav > li >a{
    color: #fff;
}
#nav li a { 
    
    text-decoration: none;
    line-height: 2.8rem; 
    padding: 0px 3rem; 
    display: block;
    width: 11.8rem;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav{
    display: none;
    position: absolute ;
    background-color: #fff;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
#nav .subnav li:hover a,
#nav> li:hover> a{
    color: #000;
    background-color: #ccc;
}
#nav .subnav a{
    color: #000;
    padding: 0 1rem;
    line-height: 2.8rem;
    min-width: 15.8rem;
    text-align: justify;
}
#slider{
    background-color:  #f1f2f6;
    position: relative;
    width: 100%;
    height: 34rem;
}
#slider img{
    width: 85%;
    height: 34rem;
    margin: 0px 5rem 0px 7rem;
    box-sizing: border-box;
    border: 0.1rem solid #333;
}

#slider .transfer i{
    color: white;
    font-size: 3rem;
    position: absolute;
    
}
.transfer i:first-child{
    top: 48%;
    left: 10rem;
}
.transfer i:last-child{
    top: 48%;
    right: 9rem;
}
.transfer i:hover{
    color: aqua;
}
#content{
    width: 100%;
    height: 48rem;
    background-color: #f1f2f6;
    /* text-decoration: none; */
}
#content .information img{
    float: left;
    width: 33%;
    height: 34rem;
    margin: 0rem 2.8rem 0rem 7rem;
}
.information>h1{
    text-align: center;
    padding: 3rem 0px;
    text-decoration: underline;
}
#content{
    
}

.information .item{
    text-decoration: none;
    float: left;
    border: 0rem solid #333;
    width: 19rem;
    box-shadow:  0 0 1rem rgba(0, 0, 0, 0.3);
    height: 7.8rem;
    background: white;
    margin: 0 3rem 1rem 0;
}

.item a p{
    text-decoration: none;
    font-size: 1.3rem;
    color: #0984e3;
    padding: 0.6rem 1.5rem;
    font-weight: bold;
}
.item a p+p{
    font-weight: normal;
    color: #333;
    font-size: 1rem;
}
.information .item:hover {
    background-color    :#81ecec;
    text-decoration: underline;
    text-decoration: none;
}

.containerutc{
    display:flex ;
}
.column{
}
#footer{
    background-color: #0984e3;
    color: #fff;
}

.column{
    margin-top: 3rem;
}
.col-1{
    flex: 3.5;
    float: left;
    margin-right: 2rem;
}
.col-2{
    flex: 1.5;
    list-style: none;
    margin-right: 1.8rem;

}
.col-3{
    flex: 1.5;
    list-style: none;
    margin-right: 1.8rem;

}
.col-4{
    flex: 2.5;
    margin: 3rem;
    margin-right: 1rem;

}
.col-1 h1{
    color: #f1c40f;
    font-size: 1.6rem;
}
.col-1 .logo{
    margin-bottom: 2rem;
    margin-right: 8rem;
}
.col-1 img{
    width: 4rem;
    height: 4rem;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
}

.col-1 .item{
    padding-bottom: 0.5rem;
    margin-left: 1rem;
}
.col-1 .cont-2{
    padding-top: 1rem;
}
.col-1 .socials{
    padding-top: 2rem;
    font-size: 2rem;
    color: #fff;
}
.social .item{
    padding-top: 2rem;
    color: #ccc;
    
}
.socials .social a:hover{
    color: #fff;
}
.col-3 h3,
.col-2 h3{
    padding-bottom: 4rem;
}
.col-3 li a,
.col-2 li a{
    list-style: none;
    color: #f1f2f6;
}
.col-3 .nav-item,
.col-2 .nav-item{
    list-style: none;
    padding-bottom: 2rem;
    color: #ccc;
}
.col-3 a:hover,
.col-2 a:hover{
    color: #fff;
}
.col-4 .map{
    width: 100%;
    height: 40%
}
.col-4  h6{
    padding-bottom: 1.5rem;
}
.license{
    text-align: center;
    padding: 3rem  2rem;
   
}
.license p{
    border-top: 1px solid #fff;
    width: 60%;
    margin: 0 auto;
}
@media (max-width: 768px) {
    #container{
        
    }
    #header {
        width: 100%;
        height: 12vw;
        padding: 0 2rem 0 2rem;
    }
    #header .logo{
        padding-left: 1rem;
    }
    #header .header-img{
        margin-right: 3rem;
    }
    #header img{
        width: 4rem;
        padding-right: 0.5rem;
    }
    #header .header-utc h2 {
        font-size: 1.2em;
    }
    #header .header-utc .titleh3{
        font-size: 0.7em;
    }
    #header .titleh1{
        font-size: 1.1em;
        margin: 1em -1em 1em -13em;
    }
    #nav{
        width: 100%;
        padding: 0 2rem 0 2rem;
        height: 2.8rem;
    }
    #nav li a{
        padding: 0 1rem 0 1rem;
        width: auto;
    }
    #slider{
        width: 100%;
        height: 60vw;
        padding: 0 2rem 0 2rem;
    }
    #slider img{
        width: 84%;
        height: 60vw;
        margin-left: 4rem ;
    }
    #slider i:first-child{
        left: 16%;
    }
    #slider i:last-child{
        right: 16%;
    }
    #content{
        width: 100%;
        height: 200vw;
        padding: 0 2rem 0 2rem;
    }
    #content{
        flex-direction: column;
    }
    #content .information img{
        width: 84%;
        margin-left: 4rem;
    }
    .information .item{
        width: 38vw;
        margin: 1rem 0 1rem 4rem;
    }
    #footer{
        width: 100%;
        padding: 0 2rem 0 2rem;
    }
    .col-1{
        padding-left: 1rem;
    }
    .col-1 img {
        width: 3rem;
        height: 3rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .col-1 h1{
        font-size: 1rem;
    }
    .col-1 .logo {
        margin-bottom: 1rem;
        margin-right: 1.1rem;
    }
    .col-1 .item {
        padding-bottom: 0.5rem;
        margin-left: 0.5rem;
    }
    .col-1 h3{
        font-size: 0.8rem;
    }
    .col-3 h3, .col-2 h3 {
        font-size: 0.8rem;
    }
    .col-4 {
        width: 100%;
        margin: 3rem 0 0rem 0rem;
        /* margin-right: 2rem; */
    }
    
}
@media (min-width: 768px) and (max-width: 1024px){
    #container{
        
    }
    #header {
        width: 100%;
        height: 12vw;
        padding: 0 2rem 0 2rem;
    }
    #header .logo{
        padding-left: 1rem;
    }
    #header .header-img{
        margin-right: 5rem;
    }
    #header img{
        width: 5rem;
        padding-right: 0.5rem;
        padding-top: 0.4rem;
    }
    #header .header-utc h2 {
        font-size: 132%;
    }
    #header .header-utc .titleh3{
        font-size: 80%;
    }
    #header .titleh1{
        font-size: 142%;
        margin: 1em 0rem 1em -14em;
    }
    #nav{
        width: 100%;
        padding: 0 3rem 0 1rem;
        height: 2.8rem;
    }
    #nav li a{
        padding: 0 0rem 0 3rem;
        width: 8rem;
    }
    #slider{
        width: 100%;
        height: 60vw;
        padding: 0 2rem 0 2rem;
    }
    #slider img{
        width: 90%;
        height: 60vw;
        margin-left: 3rem ;
    }
    #slider i:first-child{
        left: 10%;
    }
    #slider i+i{
        right: 10%;
    }
    #content{
        width: 100%;
        height: 96vw;
        padding: 0 2rem 0 2rem;
    }
    #content .information img{
        width: 33%;
        margin-left: 3rem;
        margin-right: 0rem;
    }
    .item a p{
        padding: 0.3rem 0.5rem 0rem 0.3rem;
    }
    .information .item{
        margin: 0 1rem 1rem 1rem;
        width: 26%;
    }
    #footer{
        width: 100%;
        padding: 0 2rem 0 2rem;
    }
    .col-1 img {
        width: 4rem;
        height: 4rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .col-1 h1{
        font-size: 1.6rem;
    }
    .col-1 .logo {
        margin-bottom: 1rem;
        margin-right: 2rem;
    }
    .col-1 .item {
        padding-bottom: 0.5rem;
        margin-left: 0rem;
    }
    .col-1 h3{
        font-size: 1rem;
    }
    .col-3 h3, .col-2 h3 {
        font-size: 1rem;
    }
    .col-4 {
        margin: 3rem 0 0rem 0rem;
        margin-right: 2rem;
    }
    
}
@media (max-width :576px){
    #container{
        
    }
    #header {
        width: 100%;
        height: 12vw;
        padding: 0 2rem 0 2rem;
    }
    #header .logo{
        padding-left: 1rem;
    }
    #header .header-img{
        padding-right: 0em;
    }
    #header img{
        width: 3rem;
        padding-right: 0rem;
        padding-top: 0.4rem;
    }
    #header .header-utc h2 {
        font-size: 0.8em;
    }
    #header .header-utc .titleh3{
        font-size: 0.5em;
    }
    #header .titleh1{
        font-size: 1em;
        margin: 1em 0em 1em -12em;
    }
    #nav{
        width: 100%;
        padding: 0 3rem 0 1rem;
        height: 2.8rem;
    }
    #nav li a{
        padding: 0rem 0rem 0rem 0.5rem;
        width: auto;
    }
    #slider{
        width: 100%;
        height: 60vw;
        padding: 0 2rem 0 2rem;
    }
    #slider img{
        width: 88%;
        height: 60vw;
        margin-left: 2.4rem ;
    }
    #slider i:first-child{
        left: 14%;
    }
    #slider i:last-child{
        right: 14%;
    }
    #content{
        width: 100%;
        height: 220vw;
        padding: 0 2rem 0 2rem;
        flex-direction: column;
    }
    #content .information img{
        width: 88%;
        height: 70vw;
        margin-left: 2.4rem;
        margin-right: 1rem;
    }
    .item a p{
        padding: 0.3rem 0.5rem 0rem 0.3rem;
    }
    .information .item{
        margin: 1rem 0rem 0rem 2.3rem;
        width: 41%;
    }
    #footer{
        width: 100%;
        padding: 0 3rem 0 1rem;
        font-size: 0.5rem;
    }
    .col-1{
        padding-left: 0px;
    }
    .col-1 img {
        width: 3rem;
        height: 3rem;
        margin-left: 0rem;
        margin-right: 0.5rem;
    }
    .col-1 h1{
        font-size: 0.7rem;
        padding-top: 0.5rem;
    }
    .col-1 .logo {
        margin-bottom: 1rem;
        margin-right: 0.5rem;
    }
    .col-1 .item {
        padding-bottom: 0.2rem;
        margin-left: 0rem;
        /* font-size: 1rem; */
    }
    .col-1 .social{
        margin-top: -1rem ;
    }
    .col-1 .socials{
        margin-top: -1rem;
    }
    .col-1 .socials h6,
    .col-1 .social .item{
        font-size: 1rem
    }
    .col-1 h3{
        font-size: 0.6rem;
    }
    .col-3 h3, .col-2 h3 {
        font-size: 0.6rem;
    }
    .col-4 {
        margin: 3rem 0 0rem 0rem;
        margin-right: -2rem;
    }
    
}
