@media (min-width: 768px) {
    .header {
        grid-template-columns: 1fr 1fr;
    }
    .content{
        margin: 5vh auto 0 auto;
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-rows: 100px 1fr;
    }
    .header {
        height: 100px;
    }
    .sidebar {
        width: 15vw;
        min-width: 200px;
    }
    .sidebar .navlinks div.mainchoice a{
        font-size: 24px;
    }
    .sidebar .navlinks div.subchoice a{
        font-size: 20px;
    }
    .navlinks div.mainchoice {
        height: 30px;
    }
    .navlinks div.subchoice {
        height: 20px;
    }
    .navlinks div.mainchoice:hover {
        height: 60px;
    }
    .navlinks div.subchoice:hover {
        height: 40px;
    }
    .content {
        width: 75vw;
    }
    .button button {
        width: 120px;
        height: 30px;
    }
    .button button:hover {
        width: 160px;
    }
    .button {
        width: 300px;
        height: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        grid-template-rows: 80px 1fr;
    }
    .header{
        height:80px;
    }
    .header h1{
        font-size: 24px;
    }
    .sidebar {
        min-width: 150px;
    }
    .sidebar .navlinks div.mainchoice a{
        font-size: 20px;
    }
    .sidebar .navlinks div.subchoice a{
        font-size: 16px;
    }
    .content .scoreBoard table thead tr th, .content .scoreBoard table tbody tr td{
        font-size: 18px;
    }
    .content {
        width: 75vw;
    }
    .navlinks div.mainchoice {
        height: 30px;
    }
    .navlinks div.subchoice {
        height: 20px;
    }
    div.button {
        width: 480px;
        height: 64px;
    }
    div.button button {
        width: 160px;
        height: 36px;
        font-size: 16px;
    }
    div.button button:hover {
        width: 240px;
    }
    .navlinks div.mainchoice:hover {
        height: 60px;
    }
    .navlinks div.subchoice:hover {
        height: 45px;
    }
}

@media (max-width: 768px) {

    .content {
        margin: 5vh 0 0 0;
    }
    #button{
        display: inline-block !important;
    }
    .sidebar {
        display: flex;
        justify-content: flex-end;
        margin-left: -100%;
        z-index: 1;
        width: 0px;
        transition: all 0.5s cubic-bezier(0.7, 0.01, 0.27, 1);
    }
    .sidebar.active {
        width: 250px;
        margin-left: 0;
    }
    .navlinks {
        width: 250px;
        margin-left: -100%
    }
    .sidebar.active .navlinks{
        margin-left: 0;
        
    }
    .sidebar .navlinks .subchoice{
        margin-left: -100%;
        width: 230px;
        transition: all 0.5s cubic-bezier(0.7, 0.01, 0.27, 1);
    }
    .sidebar.active .navlinks .subchoice{
        margin-left: 0;
    }
    .sidebar .navlinks .mainchoice{
        margin-left: -100%;
        width: 200px;
        transition: all 0.5s cubic-bezier(0.7, 0.01, 0.27, 1);
    }
    .sidebar.active .navlinks .mainchoice{
        margin-left: 0;
    }

    .navlinks div.mainchoice {
        height: 30px;
    }
    .navlinks div.subchoice {
        height: 20px;
    }
    .navlinks div.mainchoice:hover {
        height: 60px;
    }
    .navlinks div.subchoice:hover {
        height: 45px;
    }

    /* Stuff */
    
    .header {
        grid-template-columns: 70px 1fr 1fr;
    }
    .container {
        grid-template-rows: 80px 1fr;
    }
    .header{
        height:80px;
    }
    .header h1{
        font-size: 18px;
    }
    .sidebar .navlinks div.mainchoice a{
        font-size: 20px;
    }
    .sidebar .navlinks div.subchoice a{
        font-size: 16px;
    }
    .content .scoreBoard table thead tr th, .content .scoreBoard table tbody tr td{
        font-size: 18px;
    }
    .navlinks div.mainchoice {
        height: 30px;
    }
    .navlinks div.subchoice {
        height: 20px;
    }
    div.button {
        width: 480px;
        height: 64px;
    }
    div.button button {
        width: 160px;
        height: 36px;
        font-size: 16px;
    }
    div.button button:hover {
        width: 240px;
    }
    .navlinks div.mainchoice:hover {
        height: 60px;
    }
    .navlinks div.subchoice:hover {
        height: 45px;
    }
}